body {
	background-color: black;
	font-family: helvetica;	
	color: #666666;
	font-size: 14;
	text-align: left;
	vertical-align: text-top;
}

hr {
	border-color: #440000;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table, th, td {
	/*border: 1px solid white;*/
	/*text-align: center;*/
}

input {
	border-radius: 7px;
}

a {
	text-decoration: none;
}
a:link {
	color: #666666;
} /* unvisited link */
a:visited {
	color: #666666;
} /* visited link */
a:hover {
	color: #440000;
} /* mouse over link */
a:active {
	color: #440000;
} /* selected link */


#spacer_small {
	height: 5px;
}
#spacer_medium {
	height: 20px;
}
#spacer_large {
	height: 50px;
}

#title_small {
	color: white;
	vertical-align: text-top;
}
#title_medium {
	color: white;
	font-size: 18;
	vertical-align: text-top;
}
#title_large {
	color: white;
	font-size: 26;
	vertical-align: text-top;
}

#text_small {
	text-align: left;
	color: #666666;
	font-size: 12;
	/*font-style: italic;*/
	text-align: justify;
	vertical-align: text-top;
}

#rating {
	width: 40px;
	text-align: center;
}
